{% block head %}
    <title>Please Suscribe</title>
    <script src="/static/vendor/jquery/js/jquery-3.5.1.min.js"></script>
    <link href="/static/vendor/videojs/css/video-js.css" rel="stylesheet">

    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
{% endblock %}

{% block body %}
<div class="">
      <div class="container-fluid">
          <div class="row justify-content-md-center">
              <div class="col-xl-12 col-sm-12">
                  <!--<p>{{message}}</p>-->
                  <img src="/static/img/please_suscribe.jpg" width="100%" alt="">
              </div>
          </div>
      </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}