
{% block head %}
    <script src="/static/vendor/jquery/js/jquery-3.5.1.min.js"></script>
    <link href="/static/vendor/videojs/css/video-js.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="">
      <div class="container-fluid">
          <div class="row justify-content-md-center">
              <div class="col-xl-12 col-sm-12">
                  <div class="player">
                      <video id="video" class="shadow recordedStream video-js vjs-big-play-centered" poster="/videos/{{video.thumbnailLocation}}" {% if isAutoPlay == True %}autoplay{% endif %} controls playsinline preload="auto" data-setup='{"fluid": true}'>
                        <source src="{{streamURL}}" type="video/mp4">
                        <p class="vjs-no-js">
                          To view this video please enable JavaScript, and consider upgrading to a web browser that
                          <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                  </div>
              </div>
          </div>
      </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="/static/vendor/videojs/js/video.js"></script>

<script type="text/javascript" charset="utf-8">

  var $ = jQuery;

  var player = videojs('video', {
            autoplay: {{isAutoPlay|lower}},
            errorDisplay: false,
            liveui: false,
            liveTracker:true,
            html5:
                {
                    nativeAudioTracks: false,
                    nativeVideoTracks:false,
                    hls:
                        {
                            overrideNative: true
                        }
                }
        });

  player.ready(function() {
      this.play();
      var last_second = new Date();
      var current_seconds = {{seconds}};
      this.on('progress', function() {
        var time_diff = Math.round((new Date() - last_second) / 1000);
        if(time_diff >= 5) {
          last_second = new Date();
          $.ajax({
            url: 'https://osp.play2fund.com/apiv1/user_views/{{wp_user}}',
            type: 'PUT',
            data: 'channel={{video.channel.channelLoc}}&eventID={{event_id}}&seconds='+time_diff+'&subscription={{subscription}}',
            success: function(response) {
              console.log('OK!', response);
              if(!{{user_allowed}}) {
                if(current_seconds > 300) {
                  window.location.reload();
                } else {
                  current_seconds += time_diff;
                }
              }
            }
          });
        }
      });
  });

</script>

{% endblock %}